.spinner {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-top: 6px solid #5E8FCE;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}