.MuiTextField-root {
  border-radius: 8px;
}

.mui-14pbd99-MuiFormLabel-root-MuiInputLabel-root {
  background-color: white;
  padding: 5px 10px !important;
  border-radius: 123px;
}

@media (max-width: 768px) {
  .formContainer {
    flex-direction: column;
    gap: 20px !important;
  }
}
